<div>
  <accordion *ngFor="let company of companies">
    <accordion-group>
      <div accordion-heading>
        {{ company.companyName }}
        
      </div>
      <app-company-detail-view [company]="company"></app-company-detail-view>
      <div>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="userRequestCompany(company)"
        >
          Get Admin Approval
        </button>
      </div>
    </accordion-group>
  </accordion>
</div>
