<div class="container mx-auto mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 20rem">
        <img
          id="hat"
          src="https://i.imgur.com/ZTkt4I5.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <!--<h5 class="card-title text-muted">
              <li *ngFor="let u of job.companyUser.userCompany" style="text-decoration:none" >
                <span class="align-middle applicant" >{{u.companyName}}</span>
            </li>
            </h5>-->
          <h5 class="card-title text-muted">Job Role</h5>
          <h6 class="card-subtitle mb-2">{{ job.jobRole }}</h6>
          <h5 class="card-title text-muted">Job Description</h5>
          <h6 class="card-subtitle mb-2">{{ job.jobDescription }}</h6>
          <h5 class="card-title text-muted">Job Type</h5>
          <h6 class="card-subtitle mb-2">{{ job.jobType }}</h6>
          <h5 class="card-title text-muted">Job Domain</h5>
          <h6 class="card-subtitle mb-2">{{ job.jobDomain }}</h6>
          <h5 class="card-title text-muted">Job Open For</h5>
          <h6 class="card-subtitle mb-2">{{ job.jobOpenFor }}</h6>
          <h5 class="card-title text-muted">Job Location</h5>
          <h6 class="card-subtitle mb-2">
            <li *ngFor="let u of job.jobLocation" style="text-decoration: none">
              <span class="align-middle applicant">{{ u.locationCity }}</span>
            </li>
          </h6>
          <!--<h6 class="card-subtitle mb-2" >{{job.jobLocation.locationCity}}</h6>-->
          <h5 class="card-title text-muted">Job Qualifications</h5>
          <h6 class="card-subtitle mb-2">
            <li
              *ngFor="let u of job.qualification"
              style="text-decoration: none"
            >
              <span class="align-middle applicant">{{
                u.qualificationName
              }}</span>
            </li>
          </h6>
          <h5 class="card-title text-muted">Job Skills</h5>
          <h6 class="card-subtitle mb-2">
            <li *ngFor="let u of job.skillSet" style="text-decoration: none">
              <span class="align-middle applicant">{{ u.skillSetName }}</span>
            </li>
          </h6>
          <!-- <button class="btn btn-success" *ngIf="router.url ==='/jobs'" style="width:100%;height:auto;border-radius: 45px;"
      (click)="apply(job)">Apply</button>
      <button class="btn btn-success"  style="width:40%;height:auto;border-radius: 45px;"
      (click)="updatejob(job)">EDIT</button>
      <button class="btn btn-success"  style="width:40%;height:auto;border-radius: 45px;margin-left: 2rem;"
      (click)="deleteJob(job)">DELETE</button> -->
          <p style="text-align: center; margin-top: 1rem">{{ Status }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
