<div>
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <button
            type="button"
            style="margin: 10px"
            class="btn btn-primary btn-light"
            (click)="goToHomePage()"
          >
            Home
          </button>
          <button
            type="button"
            style="margin: 10px"
            class="btn btn-primary btn-light mr-3"
            (click)="goToLoginPage()"
          >
            Login
          </button>
          <button
            type="button"
            style="margin: 10px"
            class="btn btn-primary btn-light"
            (click)="goToRegisterPage()"
          >
            Register
          </button>
        </ul>
      </div>
    </nav>
  </div>

  <div>
    <h2 class="heading" style="text-align: centre">Companies</h2>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img"
              src="https://blog.hubspot.com/hubfs/image8-2.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h5 class="card-title">Google</h5>
              <p class="card-text">One Stop Solution for all your searches</p>
              <a href="www.google.com" class="card-link">www.google.com</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img"
              src="https://blog.hubspot.com/hubfs/image8-2.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h5 class="card-title">Google</h5>
              <p class="card-text">One Stop Solution for all your searches</p>
              <a href="www.google.com" class="card-link">www.google.com</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img"
              src="https://blog.hubspot.com/hubfs/image8-2.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h5 class="card-title">Google</h5>
              <p class="card-text">One Stop Solution for all your searches</p>
              <a href="www.google.com" class="card-link">www.google.com</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img"
              src="https://blog.hubspot.com/hubfs/image8-2.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h5 class="card-title">Google</h5>
              <p class="card-text">One Stop Solution for all your searches</p>
              <a href="www.google.com" class="card-link">www.google.com</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img"
              src="https://blog.hubspot.com/hubfs/image8-2.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h5 class="card-title">Google</h5>
              <p class="card-text">One Stop Solution for all your searches</p>
              <a href="www.google.com" class="card-link">www.google.com</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img"
              src="https://blog.hubspot.com/hubfs/image8-2.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h5 class="card-title">Google</h5>
              <p class="card-text">One Stop Solution for all your searches</p>
              <a href="www.google.com" class="card-link">www.google.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="heading" style="text-align: centre">Colleges</h2>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img"
              src="https://previews.123rf.com/images/captainvector/captainvector1703/captainvector170309311/74165534-college-logo-element.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h5 class="card-title">XYZ</h5>
              <p class="card-text">One Stop Solution for all your searches</p>
              <a href="www.google.com" class="card-link">www.google.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
