<div>
  <tabset type="pills">
    <tab>
      <ng-template tabHeading>
        <span>Your Organisation</span>
      </ng-template>
      <tabset>
        <tab heading="Company">
          <div>
            <app-search-company></app-search-company>
            <button
              class="btn btn-sm btn-info"
              (click)="isRegisterCompanyCollapsed = !isRegisterCompanyCollapsed"
            >
              Cannot Find your Company Listed? Register your Company
            </button>
            <app-register-company
              *ngIf="!isRegisterCompanyCollapsed"
            ></app-register-company>
          </div>
        </tab>
        <tab heading="College">
          <div>
            <app-search-college></app-search-college>
            <button
              class="btn btn-sm btn-info"
              (click)="isRegisterCollegeCollapsed = !isRegisterCollegeCollapsed"
            >
              Cannot Find your College Listed? Register your College
            </button>
            <app-register-college
              *ngIf="!isRegisterCollegeCollapsed"
            ></app-register-college>
          </div>
        </tab>
      </tabset>
    </tab>
    <tab heading="User Profile">
      <app-user-profile></app-user-profile>
    </tab>
  </tabset>
</div>
