<div class="container" *ngIf="college; else loading">
  <h3 class="text-center">Enter College Details</h3>
  <div class="row mt-3">
    <label for="collegeName"> College Name </label>
    <input
      type="text"
      class="form-control"
      id="collegeName "
      collegeName="collegeName"
      #collegeName="ngModel"
      [(ngModel)]="college.collegeName"
    />
    <small
      *ngIf="collegeName?.invalid && collegeName?.touched"
      class="text-danger"
      >Name is Required</small
    >
  </div>

  <div class="row mt-3">
    <label> College Website </label
    ><input
      type="url"
      class="form-control"
      id="collegeWebsite"
      collegeWebsite="collegeWebsite"
      #collegeWebsite="ngModel"
      [(ngModel)]="college.collegeWebsite"
    />
    <small
      *ngIf="collegeWebsite?.invalid && collegeWebsite?.touched"
      class="text-danger"
      >Website is Required</small
    >
  </div>

  <div class="row mt-3">
    <label class="labels">College Email ID</label
    ><input
      type="email"
      class="form-control"
      id="collegeEmail"
      collegeWebsite="collegeEmail"
      #collegeEmail="ngModel"
      [(ngModel)]="college.collegeEmail"
    />
    <small
      *ngIf="collegeEmail?.invalid && collegeEmail?.touched"
      class="text-danger"
      >Email is Required</small
    >
  </div>

  <div class="row mt-3">
    <label> NIRF Ranking </label
    ><input
      type="number"
      class="form-control"
      id="collegeNirfRanking"
      collegeNirfRanking="collegeNirfRanking"
      #collegeNirfRanking="ngModel"
      [(ngModel)]="college.collegeNirfRanking"
    />
    <small
      *ngIf="collegeNirfRanking?.invalid && collegeNirfRanking?.touched"
      class="text-danger"
      >NIRF Ranking is Required</small
    >
  </div>

  <div>
    <br /><label> AICTE Approved: </label><br /><input
      type="radio"
      value="Yes"
      id="collegeAicteAffiliation"
      collegeAicteAffiliation="collegeAicteAffiliation"
      #collegeAicteAffiliation="ngModel"
      [(ngModel)]="college.collegeAicteAffiliation"
    />Yes
    <small
      *ngIf="
        collegeAicteAffiliation?.invalid && collegeAicteAffiliation?.touched
      "
      class="text-danger"
      >Approval status is Required</small
    >
    <br />
    <input
      type="radio"
      value="No"
      id="collegeAicteAffiliation"
      collegeAicteAffiliation="collegeAicteAffiliation"
      #collegeAicteAffiliation="ngModel"
      [(ngModel)]="college.collegeAicteAffiliation"
    />
    No
    <small
      *ngIf="
        collegeAicteAffiliation?.invalid && collegeAicteAffiliation?.touched
      "
      class="text-danger"
      >Approval status is Required</small
    >
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <br /><label class="labels">College Address</label>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">City</label
        ><input
          type="text"
          class="form-control"
          id="collegeLocationCity"
          collegeLocationCity="collegeLocationCity"
          #collegeLocationCity="ngModel"
          [(ngModel)]="college.collegeLocation.locationCity"
        />
        <small
          *ngIf="collegeLocationCity?.invalid && collegeLocationCity?.touched"
          class="text-danger"
          >City is Required</small
        >
      </div>
      <div class="col-md-6">
        <br /><label class="labels">District</label
        ><input
          type="text"
          class="form-control"
          id="collegeLocationDistrict"
          collegeLocationDistrict="collegeLocationDistrict"
          #collegeLocationDistrict="ngModel"
          [(ngModel)]="college.collegeLocation.locationDistrict"
        />
        <small
          *ngIf="
            collegeLocationDistrict?.invalid && collegeLocationDistrict?.touched
          "
          class="text-danger"
          >District is Required</small
        >
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">State</label
        ><input
          type="text"
          class="form-control"
          id="collegeLocationState"
          collegeLocationState="collegeLocationState"
          #collegeLocationState="ngModel"
          [(ngModel)]="college.collegeLocation.locationState"
        />
        <small
          *ngIf="collegeLocationState?.invalid && collegeLocationState?.touched"
          class="text-danger"
          >State is Required</small
        >
      </div>
      <div class="col-md-6">
        <br /><label class="labels">Pincode</label
        ><input
          type="text"
          class="form-control"
          id="collegeLocationPincode"
          collegeLocationPincode="collegeLocationPincode"
          #collegeLocationPincode="ngModel"
          [(ngModel)]="college.collegeLocation.locationPinCode"
        />
        <small
          *ngIf="
            collegeLocationPincode?.invalid && collegeLocationPincode?.touched
          "
          class="text-danger"
          >Pincode is Required</small
        >
      </div>
    </div>

    <div class="col-md-12">
      <br /><label class="labels">Country</label
      ><input
        type="text"
        class="form-control"
        id="collegeLocationCountry"
        collegeLocationCountry="collegeLocationCountry"
        #collegeLocationCountry="ngModel"
        [(ngModel)]="college.collegeLocation.locationCountry"
      />
      <small
        *ngIf="
          collegeLocationCountry?.invalid && collegeLocationCountry?.touched
        "
        class="text-danger"
        >Country is Required</small
      >
    </div>
  </div>

  <br />

  <br /><br /><br />
  <div class="container text-center">
    <button
      class="btn btn-primary profile-button"
      type="submit"
      style="width: 150px"
      (click)="collegeFormSubmit()"
    >
      Submit
    </button>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
