<div>
  <tabset type="pills">
    <tab>
      <ng-template tabHeading>
        <span>Jobs</span>
      </ng-template>
      <app-college-jobs-detail></app-college-jobs-detail>
    </tab>
    <tab>
      <ng-template tabHeading>
        <span>College profile</span>
      </ng-template>
      <app-college-profile></app-college-profile>
    </tab>
    <tab>
      <ng-template tabHeading>
        <span>User profile</span>
      </ng-template>
      <app-user-profile></app-user-profile>
    </tab>
  </tabset>
</div>
