<div class="container">
  <a routerLink="/">Logo</a>
  <div class="row align-items-center vh-100">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Register</h3>
          <app-user-detail-form
            [user]="user"
            [buttonText]="'Register'"
            (formSubmit)="onRegister()"
          ></app-user-detail-form>
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- Alert Component-->
  <div style="position: absolute; bottom: 10px; z-index: 100">
    <app-dismissive-alert></app-dismissive-alert>
  </div>
</div>
