<div class="container">
  <div *ngIf="user; else loading">
    <div *ngIf="userTypeString == 'USER'">
      <app-user-dashboard></app-user-dashboard>
    </div>
    <div *ngIf="user.adminApprovalStatus == true">
      <div
        *ngIf="
          userTypeString == 'COLLEGE_SPOC' || userTypeString == 'COLLEGE_ADMIN'
        "
      >
        <app-college-user-dashboard></app-college-user-dashboard>
      </div>
      <div
        *ngIf="
          userTypeString == 'COMPANY_SPOC' || userTypeString == 'COMPANY_ADMIN'
        "
      >
        <app-company-user-dashboard></app-company-user-dashboard>
      </div>
    </div>
    <div *ngIf="user.adminApprovalStatus == false && userTypeString != 'USER'">
      <div
        class="container d-flex align-items-center justify-content-center text-center"
        style="height: 80vh; width: 100vw"
      >
        <div>Please ask your organisation admin to approve your account</div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

  <!-- Alert Component-->
  <div style="position: absolute; bottom: 10px; z-index: 100">
    <app-dismissive-alert></app-dismissive-alert>
  </div>
</div>
