<div>
  <accordion *ngFor="let college of colleges">
    <accordion-group>
      <div accordion-heading>
        {{ college.collegeName }}
        <div>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="userRequestCollege(college)"
          >
            Get Admin Approval
          </button>
        </div>
      </div>
      <app-college-detail-view [college]="college"></app-college-detail-view>
    </accordion-group>
  </accordion>
</div>
