<div class="container" *ngIf="company; else loading">
  <img
    src="{{ company.companyImage }}"
    alt="Generic placeholder image"
    class="img-fluid img-thumbnail mt-4 mb-2"
  />

  <ul class="list-group">
    <li class="list-group-item"><b>Name: </b>{{ company.companyName }}</li>

    <li class="list-group-item">
      <b>Website: </b> <a href="{{ company.companyWebsite }}"> Link</a>
    </li>

    <li class="list-group-item">
      <b>Description: </b> {{ company.companyDescription }}
    </li>

    <li class="list-group-item">
      <b>CIN (Corporate Identification Number): </b> {{ company.companyCin }}
    </li>
  </ul>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
