<div *ngIf="company; else loading">
  <div class="mb-3">
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        inputName="inputName"
        #inputName="ngModel"
        [(ngModel)]="company.companyName"
      />
      <div
        *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)"
        class="text-danger small"
      >
        <div *ngIf="inputName.errors?.['required']">
          Company Name is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="inputDescription" class="form-label">Description</label>
      <textarea
        rows="4"
        type="text"
        class="form-control"
        id="inputDescription"
        inputDescription="inputDescription"
        #inputDescription="ngModel"
        [(ngModel)]="company.companyDescription"
      ></textarea>
      <div
        *ngIf="
          inputDescription.invalid &&
          (inputDescription.dirty || inputDescription.touched)
        "
        class="text-danger small"
      >
        <div *ngIf="inputDescription.errors?.['required']">
          Company Description is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="inputWebsite" class="form-label">Website</label>
      <input
        type="url"
        class="form-control"
        id="inputWebsite"
        inputWebsite="inputWebsite"
        #inputWebsite="ngModel"
        [(ngModel)]="company.companyWebsite"
      />
    </div>

    <div class="mb-3">
      <label for="inputCin" class="form-label"
        >Corporate Identification Number (CIN)</label
      >
      <input
        type="text"
        class="form-control"
        id="inputCin"
        inputCin="inputCin"
        #inputCin="ngModel"
        [(ngModel)]="company.companyCin"
        required
        minlength="21"
        maxlength="21"
      />
      <div
        *ngIf="inputCin.invalid && (inputCin.dirty || inputCin.touched)"
        class="text-danger small"
      >
        <div *ngIf="inputCin.errors?.['required']">
          Corporate Identification Number (CIN) is required
        </div>
        <div
          *ngIf="inputCin.errors?.['minlength']||inputCin.errors?.['maxlength']"
        >
          Corporate Identification Number (CIN) must be of 21 characters long
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="inputImage" class="form-label">Image</label>
      <input
        type="url"
        class="form-control"
        id="inputImage"
        inputImage="inputImage"
        #inputImage="ngModel"
        [(ngModel)]="company.companyImage"
      />
      <img
        src="{{ company.companyImage }}"
        alt="Add Image link to preview"
        class="img-fluid img-thumbnail mt-4 mb-2"
      />
    </div>

    <button type="submit" class="btn btn-primary" (click)="onFormSubmit()">
      {{ buttonName }}
    </button>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
